<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>组合查询</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" id="name" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
            <input id="number" type="text" name="number" placeholder="学号" autocomplete="off" class="layui-input">
            <div class="layui-input-inline">
                <select name="gender" id="gender">
                    <option value="">性别</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <input id="direction" type="text" name="direction" placeholder="专业" autocomplete="off" class="layui-input">
            <input id="office" type="text" name="office" placeholder="班级" autocomplete="off" class="layui-input">
            <button id="search" type="button" class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
</div>
<table class="layui-table" lay-filter="student-list" id="student-table"></table>
</div>
<script>
    layui.use(['laydate', 'table','form'], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
        table.render({
            elem: '#student-table',
            url: '[[@{/student/list}]]',
            method: 'GET',
            page: {theme: '#009688'},
            limit: 10,
            limits: [10, 20, 30, 50, 100],
            loading: true,
            skin: 'row',
            even: true,
            id: "searchReload",
            toolbar: '#headerBar',
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID',  sort: true, hide: true},
                    {field: 'name', title: '姓名',  sort: true},
                    {field: 'gender', title: '性别',  sort: true, templet: '#sexTpl'},
                    {field: 'number', title: '学号', sort: true},
                    {field: 'cellphone', title: '电话', sort: true,},
                    {field: 'direction', title: '专业', sort: true},
                    {field: 'office', title: '班级', sort: true},
                    {fixed: 'right', title: '操作', toolbar: '#rowDemo', width: 200, align: 'center'}
                ]
            ],
            request: {
                pageName: 'page',
                limitName: 'rows'
            },
            where: {
                "type": 1
            },
            response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'msg', //规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data', //规定数据列表的字段名称，默认：data
            },
        })
        table.on('toolbar(student-list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id).data;
            switch (obj.event) {
                case 'add':
                    x_admin_show('添加用户', '/student/add.html');
                    break;
                case 'deleteBatch':
                    layer.confirm('确认删除选中的数据吗?', function (index) {
                        ajax("[[@{/user/v1}]]",JSON.stringify(checkStatus),null,"DELETE");
                        checkStatus.del();
                        layer.close(index);
                    });
                    break;
            }
        });
        table.on('tool(student-list)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'detail') { //查看
                x_admin_show('学生详情', '[[@{/student/v1/}]]' + data.id);
            } else if (layEvent === 'delete') { //删除
                layer.confirm('确认删除当前行吗？', function (index) {
                    // 向服务端发送删除指令
                    ajax("[[@{/user/v1/}]]" + data.id, null, true, "DELETE");
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                });
            } else if (layEvent === 'update') { //编辑
                x_admin_show('学生编辑', '[[@{/admin/student/edit/}]]' + data.id);
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            }
        });
        $("#search").on("click",function() {
            table.reload('searchReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                //根据条件查询
                where: {
                    type: 1,
                    name: $('#name').val(),
                    number: $("#number").val(),
                    office: $("#office").val(),
                    gender: $("#gender").val(),
                    direction: $("#direction").val()
                }
            });
        });
    });
</script>
<script type="text/html" id="sexTpl">
    {{#  if(d.gender === 1){ }}
    <span style="color: #1d98f7;">{{ '男' }}</span>
    {{#  } else if( d.gender === 2 ) { }}
    <span style="color: #F581B1;">{{ '女' }}</span>
    {{#  } }}
</script>
<script id="switchTpl" type="text/html">
    <input type="checkbox" name="{{d.name}}" value={{d.id}} lay-skin="switch" lay-text="启用|停用"
           lay-filter="switchSelected" {{ d.status== 0 ? "checked" : "" }}/>
</script>
<script type="text/html" id="rowDemo">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</button>
    <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/html" id="headerBar">
    <button class="layui-btn layui-btn-radius" lay-event="add"><i class="layui-icon"></i>添加</button>
    <button class="layui-btn layui-btn-radius layui-btn-danger" lay-event="deleteBatch"><i class="layui-icon"></i>批量删除
    </button>
</script>
<script type="text/javascript">
    function ajax(url, obj, isAsync, type) {
        $.ajax({
            url: url,
            data: obj,
            contentType:'application/json;charset=UTF-8',
            type: type,
            success: function (res) {
                if (res.code == 200) {
                    layer.msg(res.msg, {
                        icon: 6,
                        time: 2000
                    })
                    location.reload(true);
                } else {
                    layer.msg(res.msg, {
                        icon: 5,
                        time: 2000
                    })
                }
            }
        });
    }
</script>
</body>
</html>