<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>

        </button>
    </xblock>
</div>
<table class="layui-table" lay-filter="tutor-list" id="tutor-table"></table>

</div>
<script>
    layui.use(['laydate', 'table'], function () {
        var table = layui.table;
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
        table.render({
            elem: '#tutor-table',
            url: '[[@{/user/v1}]]',
            method: 'get',
            page: {theme: '#009688'},
            limit: 10,
            limits: [10, 30, 50],
            loading: true,
            skin: 'row',
            even: true,
            toolbar: '#headerBar',
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID', width: '10%', sort: true},
                    {field: 'name', title: '姓名', width: '10%', sort: true},
                    {field: 'gender', title: '性别', width: '5%', sort: true, templet: '#sexTpl'},
                    {field: 'professionalTitle', width: '5%', title: '职称'},
                    {field: 'expectedNumbers', width: '10%', title: '预带人数'},
                    {field: 'number', title: '教师号', width: '10%', sort: true},
                    {field: 'cellphone', title: '电话', width: '10%', sort: true,},
                    {field: 'qq', title: 'QQ', width: '10%', sort: true, align: 'right'},
                    {field: 'email', title: '电子邮箱', width: '10%', sort: true, align: 'right'},
                    {field: 'personalProfile', width: '20%', title: '个人简介'},
                    {fixed: 'right', title: '操作', toolbar: '#rowDemo', width: 150, align: 'right'}
                ]
            ],
            request: {
                pageName: 'currentPage',
                limitName: 'rows'
            },
            where: {
                "type": 2
            },
            response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'msg', //规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data', //规定数据列表的字段名称，默认：data
            },
        })
        table.on('toolbar(tutor-list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    x_admin_show('添加用户', '/tutor/add.html');
                    break;
                case 'deleteBatch':
                    var data = checkStatus.data;
                    var jsonData = JSON.stringify(data);
                    ajax("[[@{/user/v1}]]",jsonData,null,"DELETE");
                    break;
            }
        });
        table.on('tool(tutor-list)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'detail') { //查看
                x_admin_show('导师详情', '[[@{/user/v1/}]]' + data.id);
            } else if (layEvent === 'delete') { //删除
                layer.confirm('确认删除当前行吗？', function (index) {
                    // 向服务端发送删除指令
                    ajax("[[@{/user/v1/}]]" + data.id, null, true, "DELETE");
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);

                });
            } else if (layEvent === 'update') { //编辑
                x_admin_show('导师编辑', '[[@{/tutor/v1/edit/}]]' + data.id);
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            }
        });
    });
</script>
<script type="text/html" id="sexTpl">
    {{#  if(d.gender === 1){ }}
    <span style="color: #1d98f7;">{{ '男' }}</span>
    {{#  } else if( d.gender === 2 ) { }}
    <span style="color: #F581B1;">{{ '女' }}</span>
    {{#  } }}
</script>
<script type="text/html" id="rowDemo">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</button>
    <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/html" id="headerBar">
    <button class="layui-btn layui-btn-radius" lay-event="add"><i class="layui-icon"></i>添加</button>
    <button class="layui-btn layui-btn-radius layui-btn-danger" lay-event="deleteBatch"><i class="layui-icon"></i>批量删除
    </button>
</script>
<script type="text/javascript">
    function ajax(url, obj, isAsync, type) {
        $.ajax({
            url: url,
            data: obj,
            type: type,
            success: function (res) {
                if (res.code == 200) {
                    layer.msg(res.msg, {
                        icon: 6,
                        time: 2000
                    })
                } else {
                    layer.msg(res.msg, {
                        icon: 5,
                        time: 2000
                    })
                }
            }
        });
    }
</script>
</body>

</html>