<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="header">
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/">在线导师双向选择系统</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
                <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
                <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <shiro:principal property="name"></shiro:principal>
            </a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="updateUsePwd()">修改密码</a></dd>
                <dd><a th:href="@{/user/logout}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav"></div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/admin/welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>
</div>
<!-- 底部结束 -->
</body>
<div class="modify-pwd-layer aux-self" id="updatePassword" style="display: none; ">
    <form id="userForm" class="layui-form" action="" style="margin: 20px auto;">
        <div class="layui-form-item">
            <label for="password" class="layui-form-label">
                <span class="x-red">*</span>原密码
            </label>
            <div class="layui-input-inline">
                <input id="password" type="password"  name="password" required="" lay-verify="password"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="newPassword" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="newPassword" name="newPassword" required="" lay-verify="password"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="confirmPassword" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input id="confirmPassword" type="password" name="confirmPassword" required="" lay-verify="confirmPassword"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn layui-btn-sm" lay-filter="update" lay-submit="">
                确认
            </button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
        </div>
    </form>
</div>
<script >
    layui.use(['form', 'layer', 'upload', 'element'], function () {
        var form = layui.form,
            layer = layui.layer;
        //自定义验证规则
        form.verify({
            password: [
                /^[\S]{6,12}$/,
                '密码在6~12个字符之间，且不能出现空格!'],
            confirmPassword: function (value) {
                var password = $("#newPassword").val();
                if (value != password.trim()) {
                    return '两次输入的密码不一致!';
                }
            }

        });
        //监听提交
        form.on('submit(update)', function (data) {
            var url = "[[@{/user/update/password}]]";
            $.ajax({
                url: url,
                type: "PUT",
                data: $("#userForm").serialize(),//表格数据序列化
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg(res.msg, {
                            icon: 6,//成功的表情
                            time: 2000 //1秒关闭（如果不配置，默认是3秒）
                        },function() {
                            location.parent.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 5});//失败的表情
                        return;
                    }
                }

            });
            return false;
        });

    });
</script>
</html>